.navbar-custom {
    background-color: #2f4f4f;
    color: #ffffff;
}

.navbar-custom .nav-link {
    color: #ffffff;
    font-weight: 600;
}

.navbar-custom .nav-link:hover {
    color: #EEE8AA;
}

#button-search {
    height: 100%; 
    border: 1px solid white; 
    background-color: #ffffff; 
    border-left: none; 
    border-radius: 0; 
}

#button-search:hover {
    color: #EEE8AA;
    background-color: white;
}

#input-field {
    border: none;
}


